.carousel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  .examples {
    border-radius: 5px;
    width: 100%;
  }
  .arrows {
    display: flex;
    .right,
    .left {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      transition: 0.1s ease-in;
      width: 100%;
      &:hover,
      &:focus {
        transform: scale(1.5);
      }
      i {
        color: white;
        height: 100%;
      }
    }
  }
}
