.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  .carousel-link {
    flex: 0 0 50%; /* Utilisation de flexbox pour que chaque image occupe la moitié de la largeur */
    max-width: 50%; /* Limite la largeur à 50% pour s'assurer que deux images s'affichent côte à côte */
    box-sizing: border-box;
    img {
      width: 100%;
      height: auto;
    }
  }
  .left,
  .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff; /* Changer la couleur du fond si nécessaire */
    border: none;
    padding: 10px;
  }
  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
