.main {
  margin: 0 auto;
  max-width: 596.5px;
  .introduce {
    align-items: start;
    display: flex;
    flex-direction: column;
    h1,
    p {
      margin: 0;
    }
    p {
      font-size: 14px;
    }
  }
}
