@import "../../colors.scss";

.banner {
  left: 0;
  margin: 50px auto 0 auto;
  right: 0;
  img {
    display: block;
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .banner {
    max-width: 768px;
  }
}
