@import "/src/assets/colors.scss";
.button {
  background: linear-gradient($hover-component, $hover-component) no-repeat;
  background-size: 0 100%;
  border: 1px solid rgba($normal-component, 0.2);
  border-radius: 5px;
  padding: 8px;
  transition: 0.2s;
  &:hover,
  &:focus {
    background-size: 100% 100%;
    .icon {
      filter: invert(15%) sepia(58%) saturate(438%) hue-rotate(79deg)
        brightness(97%) contrast(87%);
    }
  }
  .icon {
    display: block;
    filter: invert(88%) sepia(1%) saturate(2389%) hue-rotate(81deg)
      brightness(99%) contrast(107%);
    height: 20px;
    width: 20px;
  }
}
