@import "../../colors.scss";
.btn {
  font-size: 14px;
  text-decoration: none;
  p {
    border-bottom: 1px solid $secondary-text-links;
    color: $secondary-text-links;
    margin: 0;
    position: relative;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
      color: $high-contrast-text;
    }
    &::after {
      background: $interactive-components;
      bottom: -1px;
      content: "";
      display: inline-block;
      height: 1px;
      left: 0;
      position: absolute;
      transition: 0.2s ease-in;
      width: 0;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
