@import "/src/assets/colors.scss";
.header {
  background: center top / cover url(/public/images/imperium.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 32px auto;
  max-width: 1024px;
  min-height: 300px;
  position: relative;
  &::before {
    background: rgba($high-contrast-text-dark, 0.5);
    content: "";
    inset: 0;
    position: absolute;
  }
  // .background {
  //   height: 100%;
  //   object-fit: cover;
  //   position: absolute;
  //   width: 100%;
  //   z-index: -1;
  // }
  .topbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    .header-navigation {
      align-items: flex-start;
      display: flex;
      font-weight: bold;
      gap: 8px;
      justify-content: space-between;
      width: 100%;
      .hammer {
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(41deg)
          brightness(106%) contrast(97%)
          drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
        height: 45px;
        width: 45px;
      }
      .menu {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        position: relative;
        .menu-btn {
          cursor: pointer;
          position: relative;
          width: auto;
          border-radius: 5px;
          border: solid 1px grey;
          background: $high-contrast-text-light;
          padding: 8px 12px;

          -webkit-transition: all 0.1s;
          -moz-transition: all 0.1s;
          transition: all 0.1s;

          -webkit-box-shadow: 0px 6px 0px $tertiary-background;
          -moz-box-shadow: 0px 6px 0px $tertiary-background;
          box-shadow: 0px 4px 3px lightgray;
          &:active {
            -webkit-box-shadow: 0px 2px 0px $tertiary-background;
            -moz-box-shadow: 0px 2px 0px $tertiary-background;
            box-shadow: 0px 2px 0px lightgray;
            position: relative;
            top: 4px;
          }
          img {
            filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(98deg)
              brightness(95%) contrast(92%);
            height: 100%;
            display: block;
            width: 100%;
          }
        }
        .menu-content {
          overflow: hidden;
          padding: 8px 0;
          transition: 0.3s ease-in;
          width: 0;
          ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin: 0;
            padding: 0;
            li {
              display: inline-block;
              list-style: none;
              // padding: 0 8px;
              a {
                color: $high-contrast-text-light;
                font-size: 24px;
                position: relative;
                text-decoration: none;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                &::after {
                  background: $high-contrast-text-color;
                  bottom: 0;
                  content: "";
                  height: 2px;
                  left: 0;
                  position: absolute;
                  transform: scaleX(0);
                  transform-origin: top left;
                  transition: transform 0.2s ease;
                  width: 100%;
                }
                &:hover::after,
                &:focus::after {
                  transform: scaleX(1);
                }
              }
            }
          }
        }
        .menu-content-active {
          transition: 0.3s ease-in;
          width: 100%;
        }
      }
    }
    .header-menu {
      display: none;
      .menu {
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(41deg)
          brightness(106%) contrast(97%);
        height: 20px;
        width: 20px;
      }
    }
  }
  .introduce {
    border-left: 2.5px solid $high-contrast-text-light;
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 16px;
    padding: 16px 16px 0 0;
    width: 50%;
    z-index: 1;
    .me,
    .job {
      font-size: 24px;
      margin: 0 0 0 16px;
    }
    .me {
      color: $high-contrast-text-light;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .job {
      color: $high-contrast-text-color;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

@media (min-width: 425px) {
  .header {
  }
}

@media (min-width: 768px) {
  .header {
    .introduce {
      .me,
      .job {
        font-size: 32px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    .introduce {
      .me,
      .job {
        font-size: 40px;
      }
    }
  }
}
