@import "/src/assets/colors.scss";
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
  min-height: 100svh;
  position: relative;
  .background {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .topbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    .header-navigation {
      align-items: flex-start;
      display: flex;
      font-weight: bold;
      gap: 8px;
      justify-content: space-between;
      width: 100%;
      .hammer {
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(41deg)
          brightness(106%) contrast(97%);
        height: 30px;
        width: 30px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          a {
            color: $high-contrast-text-light;
            font-size: 24px;
            font-weight: 400;
            position: relative;
            text-decoration: none;
            &::after {
              background: $high-contrast-text-color;
              bottom: 0;
              content: "";
              height: 2px;
              left: 0;
              position: absolute;
              transform: scaleX(0);
              transform-origin: top left;
              transition: transform 0.2s ease;
              width: 100%;
            }
            &:hover::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
    .header-menu {
      display: none;
      .menu {
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(41deg)
          brightness(106%) contrast(97%);
        height: 20px;
        width: 20px;
      }
    }
  }
  .introduce {
    border-left: 2.5px solid $high-contrast-text-light;
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 16px;
    padding: 16px 16px 0 0;
    width: 50%;
    .me,
    .job {
      font-size: 32px;
      font-weight: bolder;
      margin: 0 0 0 16px;
    }
    .me {
      color: $high-contrast-text-light;
    }
    .job {
      color: $high-contrast-text-color;
    }
  }
}

@media (min-width: 425px) {
  .header {
    .topbar {
      .header-navigation {
        align-items: center;
        ul {
          flex-direction: row;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    .introduce {
      .me,
      .job {
        font-size: 64px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    .introduce {
      .me,
      .job {
        font-size: 96px;
      }
    }
  }
}
