@import "../../colors.scss";
.footer {
  align-items: center;
  background: $tertiary-background;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  margin-top: 32px;
  .networks {
    display: flex;
    gap: 8px;
    .social {
      border-radius: 5px;
      height: 25px;
      padding: 8px;
      transition: 0.2s ease-in;
      width: 25px;
      &:hover,
      &:focus {
        background: $high-contrast-text-dark;
        img {
          filter: invert(82%) sepia(20%) saturate(3773%) hue-rotate(343deg)
            brightness(102%) contrast(103%);
        }
      }
      img {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
  p {
    margin: 0;
  }
}
