// $background: #111111;
// $high-contrast-text: #eeeeee;
// $secondary-text-links: #b4b4b4;
// $interactive-components: #ffe629;

$background: #0e1511;
$high-contrast-text: #eeeeee;
$secondary-text-links: #b4b4b4;
$interactive-components: #1b2a1e;
