// $background: #111111;
// $high-contrast-text: #eeeeee;
// $secondary-text-links: #b4b4b4;
// $interactive-components: #ffe629;

// $background: #0e1511;
// $high-contrast-text: #eeeeee;
// $secondary-text-links: #b4b4b4;
// $interactive-components: #1b2a1e;

// light mode
$background: #fcfcfc;
$secondary-backgroud: #f9f9f9;
$tertiary-background: #f0f0f0;
$high-contrast-text-dark: #202020;
$high-contrast-text-light: #eeeeee;
$high-contrast-text-color: #ffba18;
$secondary-text: #646464;
