// $background: #111111;
// $high-contrast-text: #eeeeee;
// $secondary-text-links: #b4b4b4;
// $interactive-components: #ffe629;

// $background: #0e1511;
// $high-contrast-text: #eeeeee;
// $secondary-text-links: #b4b4b4;
// $interactive-components: #1b2a1e;

// light mode
$background: #fbfefb;
$high-contrast-text: #203c25;
$secondary-text: #2a7e3b;
$normal-component: #daf1db;
$hover-component: #c9e8ca;
$use-component: #c9e8ca;
$background-component: #46a758;
$hover-background-component: #3e9b4f;
