@import "../src/assets/colors.scss";

:root {
  color-scheme: light dark;
  font-family: "Chakra Petch", sans-serif;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
